## Problem 2

#### Using the dataframe cars in problem 1, extract the following information using subsetting, <br> slicing and indexing operations..

In [13]:
import pandas as pd

In [15]:
#Read the csv file into the data fram
file = pd.read_csv('C:/Users/Iszz/Documents/Python Codes/PA3/cars.csv')

a. Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7...) of cars.ted

In [48]:
#Showing only the first five rows with odd-numbered columns
file[1::2].head(5)

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

b. Display the row that contains the ‘Model’ of ‘Mazda RX4’.

In [31]:
#Displaying the row that contains the 'Model' of 'Mazda RX4'
file.loc[file['Model'] == 'Mazda RX4']

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

c. How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have?

In [45]:
#Filter for finding how many cylinders the 'Camaro Z28' have
camaro = file[file['Model'] == 'Camaro Z28']['cyl'].values[0]

#Printing the result
print(f"The Camaro Z28 has {camaro} cylinders.")

The Camaro Z28 has 8 cylinders.

d. Determine how many cylinders (‘cyl’) and what gear type (‘gear’) do the car models ‘Mazda RX4 Wag’, ‘Ford Pantera L’ and ‘Honda Civic’ have.

In [41]:
#List of the car models to be filtered
str = ['Mazda RX4', 'Ford Pantera L', 'Honda Civic']
#Filter the data frame with the specific car models and select only the cyl and gear columns
file[file['Model'].isin(str)][['Model', 'cyl', 'gear']]

             Model  cyl  gear
0        Mazda RX4    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5